
<div class="col-auto">
  <h1>Welcome {{name}}!</h1>

</div>
<div class="flex-column remove-favorites">
  <!-- List all favorite BOOKS by current user logged in -->
  {{#if books.length}}
  <div class="col-md-6 mt-2 welcomeUser" >
    <h3>Your Favorite Books:</h3>
    <div>
      {{#each books as |book|}}
      <div class="row mb-2">
        <div class="col-md-8">
          <p>
            <a href="/books/{{book.id}}" class="text-dark ml-2 book-title">
              <strong class="favBook">{{book.book_title}}</strong>
              <span class="small author" id="favAuthor"> by {{ book.author_name}}</span>
            </a>
          </p>
        </div>
        <div class="col-md-4">
          <!-- DELETE Button to remove a book -->
          <button type="click" class="btn btn-sm deleteBook" data-id="{{book.id}}">REMOVE from Favorites</button>
          <!-- Text Box to add a comment -->

        </div>
      </div>
      {{/each}}

    </div>
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>

